

.navbar span{ /* letter N logo */
  color: var(--clr-fsecond);
}
.phone { /* phone view nav links */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  bottom: 10px;
  left: 0;
  right: 0;
  margin-left: auto; 
  margin-right: auto; 
  height: 50px;
  width: 300px;

  backdrop-filter: blur(20px);
  border-radius: 50px;
  z-index: 3;
}

.phone svg{ /* phone view nav icons */
  display: flex;
  align-items: center;
  font-size: 20px;
  color: var(--clr-text);
  transition: color .3s ease-in-out;
}
.phone svg:hover{ /* phone view nav icons hover */

  color: var(--clr-fsecond);
}
.phone li{ /* phone view nav link as icons */
  display: flex;
  align-items: center;
  font-size: 20px;
  border-radius: 50px;
  justify-content: center;
  width: 40px;
  height: 40px;
}
.nav-links span{ /* nav links text */
  display: none;
}
.nav-links{ /*nav links*/
  transition: .3s ease-in-out;
}
.web{ /* web view nav bar */
  display: none;
}
.nav-links li a{ /* nav links text and icons */
  color: var(--clr-text);
  text-decoration: none;
}
.nav-links li a span{ /* nav link text only */
  color: var(--clr-text);
  text-decoration: none;
}
.nav-links li{ /* nav links text */
  list-style: none;
  position: relative;
}
.dark-light{ /* nav light and dark toggler body box */
  display: flex;
  justify-content: start;
  align-items: center;
  cursor: pointer;
}
.dark-light div{ /* nav bar dark light icon circle */
  transition: .7s ease-in-out;
}
.dark-light div svg{
  
  transform: rotate(360deg);
}

.landing{ /*Landing body*/
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 10rem; 
}
.landing .picture{ /* ,anding pic box*/
  height: 300px;
  width: 300px;
}
.landing .picture img{ /* landing picture  */
  max-width: 100%; 
  -khtml-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  border: 5px var(--clr-rgba-second) solid;
  border-radius: 20px;
  transform: rotate(5deg);
  transition: transform .4s ease-in-out;
}
.landing .picture img:hover{ /* landing pic hover */
  border: 5px var(--clr-fsecond) solid;
  transform: rotate(2deg);
}
.landing .text-container { /* landing text all */
  display: flex;
  align-items: center;
  flex-direction: column;
  text-transform: uppercase;  
  gap: .6em;
}
.landing .text-container h1{ /* landing name  */
  font-size: 45px;
  font-weight: 900;
  text-wrap: nowrap;
}
.landing .text-container .lname{ /* landing last name  */
  color: var(--clr-fsecond);
}
.landing .text-container  h3{ /* landing hi  */
  font-size: 23px;
  font-weight: 700;
}
.landing .text-container  h2 span{ /* landing profession */
  font-size: 29px;
  text-wrap: nowrap;
  font-weight: 700;
  color: var(--clr-fmain);
}
.landing .cv-resume{ /*  landing button cv */
  color: var(--clr-fmain);
  font-size: 16px;  
  border: 1px var(--clr-fsecond) solid;
  background: none;
  text-transform: uppercase;
  border-radius: 50px;
  padding: .8em 1.5em .8em 1.8em;
  cursor: pointer;
  margin-top: 2em;
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
  overflow: hidden;
  text-decoration: none;
  transition: color .4s ease-in-out;
}
.landing .cv-resume:hover{
  color: #22262B;
  /* transform: scale(1); */
}
/* cv download icon */
.landing .cv-resume svg{ 
  font-size: 20px;
}
.landing .cv-resume::before{/*  landing button cv after */
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transform: scaleY(0);
  transform-origin: bottom;
  transition: transform  0.3s ease-in-out ,opacity .3s ease-in-out;
  opacity: 0;
  background-color: var(--clr-fsecond);
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal img {
  max-width: 90%;
  max-height: 90%;
}

.exit-button {
  position: absolute;
  top: 5%;
  right: 5%;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  background: none;
  font-size: 40px;
  color: #F7F8F9;
  padding: .1em;
  z-index: 1; /* Ensure the button is on top of the image */
}
.exit-button svg{
  background-color: var(--clr-rgba-light);
  display: flex;
  height: 50px;
  width: 50px;
  padding: .1em;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
}

.landing .cv-resume:hover::before { /*  landing button cv hover*/
  transform: scaleY(1); 
  opacity: 1;
}
.service .service-container{/*services*/
  margin-top: var(--marginT);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  justify-content: center;
  gap: 1em;
}
.service-container .service-content{ /* service box */
  padding: 2em;
  height: 180px;
  border: 1px var(--clr-fmain) solid;
  border-radius: 20px;
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: .3s ease-in-out;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: border .3s ease-in-out;
}
.service-container .service-content:hover{ /* service box hover */
  border: 1px var(--clr-fsecond) solid;
}
.service-content h3{ /* service box title */
  font-size: var(--text-sm);
  font-weight: var(--w-secondtitle);
}
.service-content h5{ /* service box info */
  margin-top: -1.5em;
  font-size: var(--text-xxs);
  font-weight: var(--w-info);
}
.service-content .service-icons{ /* service box icons */
  display: flex;
  list-style: none;
  gap: 1em;
  font-size: 20px;
  transition: .3s ease-in;
}
.service-content:hover .service-icons { /* service box icons hover  */
  gap: 1.2em;
}
.service-icons li{ /* service box icons */
  color: var(--clr-fsecond);
}
.portfolio .project-container{ /* port container  */
  margin-top: var(--marginT);
  display: flex;
  flex-wrap: wrap;
  gap: 5em 3em;
  justify-content: center;
  width:100%;
}
.project-container .project-info:hover .project-text h2{/*port text box hover*/
  color: var(--clr-fsecond);
}
.project-container .project-info .project-text h2{ /* port text title*/
  font-weight:var(--w-heading) ;
  letter-spacing: 1px;
  font-size: 15px;
  text-transform: uppercase;
  transition: color .3s ease-in-out;
  /* width: 21ch; */
}
.project-container .project-info .project-text h5{ /* port text info*/
  font-size: 10px;
  font-weight: 400;
  width: 23ch;
  /* margin-top: 10%; */
  line-height: 2;
  display: none;

}
.project-container .project-info{ /* port box main */
  width: 350px;
  height: 350px;
  /* border: 1px var(--clr-bg-light) solid; */
  background-color: var(--clr-bg-light-second);
  border-radius: 20px;
  /* box-shadow: 0px 0px 5px 1px var(--clr-fmain); */
  position: relative;
  /* padding: 1.5em 1em 0 1em; */
  cursor: pointer;
  overflow: hidden;

}
.project-container .project-info .project-text{/*port text box*/
  position: absolute;
  color: var(--clr-text);
  text-align: center;
  /* margin: 1.5em 1em 0 1em; */
  top: 10%;
  display: flex;
  width: 100%;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.project-container .project-info .project-image{ /* port  picture box*/
  width: 300px;
  height: 300px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 1px 1px 10px 1px var(--clr-rgba-black);
  position: relative;
  left: 0;
  bottom: 0;
  /* transform: translate(10%,10%) rotate(0deg); */
  transform: translate(20%,32%) rotate(5deg);
  transition: transform .3s ease-in-out, box-shadow .6s ease-in-out, filter .3s linear, opacity .4s ease;
  /* transform: scale(1.02); */
  filter: grayscale(100);
  opacity: .7;
}

.project-container .project-info:hover > .project-image{ /* port box hover image*/
  transform: translate(20%,32%) rotate(2deg);
  
  opacity: 1;
  filter: grayscale(0);
  /* box-shadow: 1px 1px 10px 1px var(--clr-rgba-black); */
  /* transform: translate(50%,30%) rotate(5deg); */
}
.project-container .project-info .project-image img{ /* port picture */
  max-width: 100%;
  object-fit: cover;
  object-position: top left;
}
 /* port icons tools */
.project-tools{
  text-decoration: none;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  font-size: 25px;
  gap: .3em ;
  position: absolute;
  bottom: 5%;
  left: .5em;
  transition: gap .3s ease-in-out;
  color: var(--clr-fmain);
  margin: 0 0 0 .49em;
  z-index: 1;
}
.project-tools li {
  border-radius: 50px;
  font-size: 12px;
  padding: .8em 1.2em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-bg-light);
}
#project-preview-link{
  position: absolute;
  top: 2rem;
  right: 2rem;
  color: var(--clr-fmain);
  text-decoration: none;
  background-color: var(--clr-bg-light);
  border-radius: 50px;
  font-size: 12px;
  padding: .8em 1.2em;
}
.project-container .project-info:hover .project-tools li{ /* port box hover tools*/
  color: var(--clr-bg-light);
  transition: background-color .4s ease-in-out, color .4s ease-in-out, box-shadow .4s ease-in-out;
  background-color: var(--clr-fmain);
  /* box-shadow: 2px 3px 4px 0px #242323; */
  /* color: #fff; */
}
/*todo image ccontainer*/
.expertise .skills-container{/* container expert */
  margin-top: var(--marginT);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2em;
}
.skills-container .skills-content .skills-info{ /* expert icons and text box */
  border: 1px var(--clr-fmain) solid;
  border-radius: 20px;
  width: 140px;
  height: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  
  cursor: pointer;
  transition: border 0.3s ease-in-out;
}
.skills-container .skills-content .skills-info:hover{ /* expert icons and text box hover*/
  border: 1px var(--clr-fsecond) solid;
}
.skills-container .skills-content .title{ /* expert title  */
  text-align: center;
  margin-top: 1em;
  font-size: var(--text-xs);
  font-weight: var(--w-secondtitle);
}
.skills-container .skills-content .skills-info i{ /* expert icons */
  font-size: 3.2em;
  transition: transform 0.3s ease-in-out, color .3s ease-in-out;
}
.skills-container .skills-content .skills-info h4{ /* expert percent */
  font-size: 1.4em;
}
.skills-container .skills-content .skills-info:hover > i{ /* expert icons and text box hover*/
  color: var(--clr-fsecond);
  transform: scale(1.1);
}

.education .education-container{ /*education*/
  --marginT: 4rem;
  margin-top: var(--marginT) ;
}
.education .education-container .education-content{ /*  education box*/
  display: flex;
  flex-direction: column ;
  gap: 1.5rem;
  position: relative;
  padding-left: 50px;
  width: 350px;
  transition: background-color .3s ease-in-out;
}
.education .education-container .education-content:hover::after { /* education hover dot  */
  background-color: var(--clr-fsecond);
}
.education .education-container .education-content:hover h3 { /* educ hover year */
  color: var(--clr-fsecond);
}
.education .education-container .education-content:hover > h3,/* educ hover text */
.education .education-container .education-content:hover > h5,
.education .education-container .education-content:hover > h2{ 
  transform: translateX(1%);
}
.education .education-container .education-content h3{ /* educ year */
  font-size: 16px;
  font-weight: 500;
  transition: transform 0.3s ease-in-out;
}
.education .education-container .education-content h5{ /* educ position */
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 80px;
  transition: transform 0.3s ease-in-out;
}
.education .education-container .education-content h2{ /* educ course  */
  font-size: 20px;
  font-weight: 700;
  transition: transform 0.3s ease-in-out;
}
.education .education-container .education-content::after{ /*  educ dot*/
 position: absolute;
 content: '';
 width: 15px;
 height: 15px;
 left: 0;
 top: 6px;
 background-color: var(--clr-fmain);
 border-radius: 100%;
}
.education .education-container .education-content::before{ /* educ line  */
  position: absolute;
  content: '';
  width: 2px;
  height: 100%;
  left: 7px;
  top: 7px;
  background-color: var(--clr-fmain);
}

.contact .contact-container { /* contact container */
  margin-top: var(--marginT);
  display: flex;
  border: 1px var(--clr-fmain) solid;
  padding: 1em;
  border-radius: 30px;
  gap: 2em;
}
.contact-container .contact-content{ /* contact box */
  display: flex;
  gap: .6em;
  justify-content: center;
  transition: color .3s ease-in-out;
  align-items: center;
}
.contact-container .contact-content i{ /* contact icon */
  font-size: var(--text-md);
  display: flex;
  height: 100%;
  justify-content: center;
}
.contact-container .contact-content a{ /* contact email / number */
  font-size: var(--text-xxs);
  color: var(--clr-fmain);
  white-space: nowrap;
  text-decoration: none;
}

.contact-container .contact-content:hover{ /* contact email / number hover*/
  color: var(--clr-fsecond);
}
.contact .social-media{ /* scocial media  */
  list-style: none;
  display: flex;
  flex-direction: row;
  margin-top: 1em;
  gap: 1em;
  font-size: 30px;
}
.contact .social-media li a svg{ /* social media */
  color: var(--clr-fmain);
  transition: color 0.3s ease-in-out, transform .3s ease-in-out;
  cursor: pointer;
  position: relative;
}
.contact .social-media li a svg:hover { /* social media hover*/
  color: var(--clr-fsecond);
  transform: scale(1.1) rotate(4deg);
}


